<div id="buttons">
  <img id="miss_button" class="toss_button" src="/assets/miss_button.png">
  <img id="ace_button" class="toss_button" src="/assets/ace_button.png">
  <img id="cornhole_button" class="toss_button" src="/assets/cornhole_button.png">
</div>
